*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(to right,rgb(80, 255, 255),rgb(254, 101, 254));
  color: white;
  opacity: .8;
    /* flex-direction: row; */
 
}
form{
    display: flex;
    flex-direction: column;
    width:40%;
    height:55%;
    background-color: rgba(174, 174, 174, 0.1);
    padding:20px; 
    border: none;  
    outline: none;
    box-shadow: 3px 3px 3px rgb(173, 173, 173);
    border-top: 1px rgba(255, 255, 255,0.3) solid;
    border-left: 1px rgba(255, 255, 255,0.3) solid;
    position: relative;
    border-radius: 20px;
    z-index: 0;

}
form::before{
    content: "";
    width: 200px;
    height: 200px;
    background-color: rgb(156, 240, 255);
    border-radius: 50%;
    position: absolute;
    top:80%;
    left:70%;
    z-index: -1;
    opacity: 0.3;
    

}

form::after{
    content: "";
    width: 120px;
    height: 120px;
    background-color: rgb(226, 138, 255);
    border-radius: 50%;
    position: absolute;
    bottom:85%;
    right:85%;
    z-index: -1;
    opacity: 0.3;

}
form h1{
    padding: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
   
}
/* label{
    margin:5px auto;
} */

input{
    width:70%;
    border: none;
    outline: none;
    margin: 10px auto;
    background-color: transparent;
    border-bottom: 1px white solid;
    color:white;
}
button{
    width: 50%;
    height:50px;
    background-color: transparent;
    color:white;
    border:none;
    outline: none;
    margin:30px auto;
    font-size: 20px;
    border-top: 1px white solid;
    border-left: 1px solid white;
    box-shadow: 3px 3px 3px rgb(175, 173, 173);
    border-radius: 20px;

}
a{
    text-align: center;
}