*{
    margin: 0;
    
}
body{
    background-color: rgb(242, 242, 236);
    
}
.header
{
   background-color: rgb(255, 57, 13,0.8);
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   cursor: pointer;
   margin-bottom: 30px;
   padding: 20px 0px;
}
.subhead{
    margin-right: 10px;
    display: flex;
    gap: 10px;
    
  
    
}
.box{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.box1,.box2{
    position:relative;
    top:50px;
}
.box1 .image{
    background-color: rgb(214, 212, 212);
    color: rgb(135, 134, 134);
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */

     /* display: flex; */
    flex-direction: column;
  
}
.box2 .image{
    background-color: rgb(214, 212, 212);;
    color: rgb(135, 134, 134);
    height: 200px;
    width: 300px;
     display: flex;
     justify-content: center;
      align-items: center;
     /*position: relative; */
    
    flex-direction: column; 
}
/* .box1 h1{
    justify-content:center;
    align-items: center;
} */

.box1 .sh
{
    background-color: white;
    color: #000;
    padding: 10px;
}
.box2 .up{
    background-color: white;
    color: #000;
    padding:10px;
    /* position: relative;
    top: 135px; */
    
}
.up button,.sh button{
    min-width: 270px;
    min-height: 30px;
    background-color: rgb(0, 169, 0);
    color: white;
    border: none;
    border-radius: 5px;
}
.badge1
{
    position:absolute;
    top: 20px;
    left:10px;
    border:none;
    background-color:rgb(6, 212, 6); 
    padding:5px;
    border-radius: 5px;
}
.badge2
{
    position:absolute;
    top: 20px;
    left:10px;
    border:none;
    background-color:rgb(240, 240, 36);
    padding:5px;
    border-radius: 5px;
}
p{
    opacity: 40%;
}
h2{
    margin-top: 10px;
    opacity:74% ;
}
#foot{
    position:absolute;
    bottom:100px;
    left:700px;
}
    